html {
  font-size: 100%;
}

body {
  padding-top: 4.3rem;
  background-image: url(../images/background.svg);
  background-size: cover;
  height: 100vh;
  height: 100dvh;
}
:root {
  --font: "Roboto", sans-serif;
  --outline: 1px solid red;
  --bwtn: space-between;
}
* {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: var(--outline);*/
  min-width: 0;
  border: none;
  cursor: default;
}

#main-page {
  height: 100%;
  width: 100%;
}

#header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: var(--bwtn);
  width: 100vw;
  padding: 0 1rem;
  background-color: rgba(27, 125, 223, 0.9);
  backdrop-filter: blur(5px);
  z-index: 1000;
  gap: 0.3rem;
}

#header-div-1 {
  width: 6rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

#header-div-1 img {
  width: 100%;
  border-radius: 2rem;
}

#header-div-2, #header-div-3 {
  display: flex;
  justify-content: var(--bwtn);
  align-items: center;
  flex-grow: 1;
  max-width: 10rem;
  width: auto;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.3rem;
  border-radius: 2rem;
}

#header-div-2 p {
  color: white;
  font-weight: 700;
  text-wrap: nowrap;
  font-size: 0.6rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 0.3rem;
  border-radius: 2rem;
  transition: opacity 0.15s;
}

#header-div-2 p:first-child {
  background-color: rgba(27, 125, 223, 0.9);
  backdrop-filter: blur(10px);
}

#sender-name {
  color: white;
  font-weight: 700;
  height: auto;
}

#header-div-3 {
  justify-content: space-around;
  flex-shrink: 1;
}

.back-arrow {
  position: absolute;
  left: 0;
  top: 4.5%;
  padding: 0.1rem 0.4rem;
  border-radius: 1rem;
  color: white;
  font-size: 2rem;
  align-items: center;
  font-weight: 600;
  display: none;
  z-index: 1001;
}


#main {
  display: flex;
  width: 100%;
  height: 100%;
}

#contact-cont {
  min-width: 15rem;
  max-width: 15%;
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 5rem;
  border-right: 1px solid rgba(0,0,0,0.8);
  overflow-y: auto;
}


#contact-cont::-webkit-scrollbar {
  scrollbar-width: none;
}

.contact-card {
  border-bottom: 1px solid rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: var(--bwtn);
  padding: 0 0.5rem;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(5px);
}

.contact-info {
  display: flex;
  gap: 0.5rem;
}

.sender-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.contact-name {
  overflow: hidden;
  text-wrap: nowrap;
  height: 1.5rem;
}

.contact-name:first-child {
  font-weight: 600;
}
.contact-img {
  display: flex;
  align-items: center;
  width: 30%;
  max-width: 2.5rem;
}

.contact-img img, .notification-area img {
  width: 100%;
  border-radius: 50%;
}

.notification-area {
  width: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.notification-count {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.6rem;
  background-color: rgb(255, 21, 21);
  padding: 0.05rem 0.3rem;
  border-radius: 50%;
  margin-left: -1rem;
  margin-top: -0.2rem;
  font-weight: 600;
  color: white;
}

#message-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
}


.send-button {
  width: 2rem;
  display: flex;
}

.send-button img {
  width: 100%;
  cursor: pointer;
}

.send-button img:hover {
  opacity: 0.8;
}

.send-button img:active {
  opacity: 0.5;
}


.input-section {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  color: white;
}

.input-section input {
  width: 100%;
  box-shadow: inset 1px 1px 200px  rgba(27, 125, 223, 0.9);
  color: white;
  outline: none;
  border-radius: 1rem;
  padding: 0.3rem 0.7rem;
  font-size: 16px;
}


.message-sect {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.message-sect::-webkit-scrollbar {
  scrollbar-width: none;
}

.message-sect .user-message, .message-sect .sender-message {
  background-color: rgba(27, 125, 223, 0.9);
  max-width: 70%;
  align-self: flex-end;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  color: white;
  font-weight: 600;
}

.message-sect .sender-message {
  align-self: flex-start;
}
