
html {
  font-size: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
  /*outline: 1px solid red;*/
  font-family: "Roboto", sans-serif
}


body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  background-image: url(../images/background.svg);
}

#auth-area {
  width: 35%;
  max-width: 20rem;
  padding: 0 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
  border: 2px solid black;
}

body, #auth-area, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

form, form input, h1 {
  width: 100%;
}

input {
  focus: none;
  border-radius: 0.2rem;
  border: 1px solid rgba(27, 125, 223, 0.9);
  padding: 0.2rem;
  font-size: 16px;
}

input[placeholder] {
  font-size: 16px;
}

form div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

div, img {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.logo-div {
  max-width: 10rem;
}

.input-btn {
  color: rgba(27, 125, 223, 0.9);
  font-weight: 700;
  background-color: white;
  cursor: pointer;
  transition: all 0.15s;
}

.input-btn:hover {
  background-color: rgba(27, 125, 223, 0.9);
  color: white;
}

.input-btn:active {
  background-color: rgba(27, 125, 223, 0.5);
}

span {
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-start;
  color: rgba(27, 125, 223, 0.9);
  font-weight: 500;
  font-size: 0.9rem;
}

p {
  align-self: flex-start;
  font-size: 0.8rem;
}

h1 {
  color: rgba(27, 125, 223, 0.9);
}
